body {
  font: 16px system-ui;
  background: #f0f0f0;
}

.group {
  display: flex;
  margin: 50px;
  gap: 50px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.shadow {
  background: white;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  border-bottom-right-radius: 50px;
}
